.DS_store
/venv/**
**/.ipynb_checkpoints
**/.vscode/**
/temp_data/**
/data/**
**/image_buffer/**
**/matrix_mul/**
**/__pycache__/
*.zip
*.PNG
*.JPG
*.h5
test.txt
m1.txt
m2.txt
mat1.txt
mat2.txt
temps*
*.out
*.o
makefile
*.csv
*.swp
